*
{
    margin:0px;
    padding:0px;
    font-family: 'Arial Black';
}
a
{
    background-color: transparent;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
html
{
    background-color: rgb(236,244,197);
}
.container
{
    position: relative;
    width:940px;
    margin:0px auto;
}
header,main
{
   /* margin:0px 160px;*/
}
.deepGreen
{
    border-radius : 3px;
    background-color : #778A50;

    font-size:16px;
    color:  #EDF2C5;
}
.deepGreen a
{
    font-size:16px;
    color:#EDF2C5;
}
header
{

}
.top
{
    position: relative;
    height: 103px;
}
h1
{
    color:#778A50;
    font-size: 44px;
    display: inline-block;
    position: absolute;
    bottom:8px;
    
}
ul
{
    padding: 0;
}
li
{
    list-style-type: none;
    display: inline-block;
}
aside
{
    margin: auto 0;
    height: 25px;
    display: block;
    
    position: absolute;
    right: 0px;
    bottom: 17px;
}
aside >a
{
    height: 25px;
}
aside > .partitionBar
{
    border-left:solid 0.5px rgb(119,134,79);
    border-right:solid 0.5px rgb(119,134,79);

    height:25px;
}
aside > *
{
    
    display: block;
    float: left;
    margin-right:10px;
   
}
aside .sixty
{
    width:58px;
}
aside .fifty
{
    width:48px;
}
aside>.btn
{
    text-align: center;
    font-size: 14px;    
    height:23px;
    border : solid 1px  #778A50;
    border-radius: 3px;
    font-family: 'Arial BoldMT' ;
    line-height: 23px;
    color : #778A50;
    background-color : #EDF2C5;
}

aside :last-child
{
    margin-right: 0px;
}
.navbar
{
    clear: both;
    margin-bottom: 20px;
}
.navbar li
{
    margin:16px 30px;
}
main
{

}
h2{
    padding:16px 31px;
}
.vegetable,.contact
{
/*width:444px;*/
display: inline-block;
margin:32px 0px 34px 0px;
}
.vegetable{
    margin-right: 52px;
    width:444px;
    float:left;
}
.vegetable ul{
    margin-top: 17px;
}
.vegetable li
{
    width:140px;
    height:140px;
    margin-right:12px;
}
.vegetable li:last-child
{
    margin-right: 0px;
}
.contact
{
    width:444px;
    float:right;
}
.contact article
{
    padding:16px 15px;
    background-color:#EDF2D3;
    box-sizing: border-box;
    height: 140px;
    margin-top:17px;
}
.contact article *
{
    font-weight: normal;
    font-size:12px;
    line-height: 1.33;
    font-family: 'ArialMT Regular';
    color:#898989;
    margin-bottom: 16px;
}
.contact :last-child
{
    line-height: 1.83;
    margin-bottom: 0px;
}
.contact article>.line
{
    width:100%;
    height:1px;
    background-color: #898989
}
footer.deepGreen
{
    border-radius: 0px;
    text-align: center;
    padding-top:24px;
    font-size:12px;
    padding-bottom: 24px;
    clear:both;
}
